
header{
    position: relative;
    background: #222831;
    padding: 0;
    border-bottom: 1px solid #387ADF;
}

a{
    color: #50C4ED;
}

a:hover{
    background: #387ADF;
    color: white;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

a.logo{
    font-weight: bold;
    padding: 1rem;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a{
    padding: 1rem;
    display: inline-block;
}

a span{
    background: #50C4ED;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.menu-container{
    position: relative;   
}

.menu{
    position: absolute;
    z-index: 1;
    background: #222831;
    display: none;
}

.menu-container:hover .menu{
    display: block;
}

.menu a{
    width: 100%;
    min-width: 8rem;
}